body {
    font-family: 'Arial', sans-serif;
    background-color:#fef08a;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.nav-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.user-angle-input {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#is-button-triangle {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#is-button-triangle:hover {
    background-color: #45a049;
}

.display-output {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
